body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Barlow Condensed';
  font-size: 2rem;
}

header {
  padding-top: 40px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.75);
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .navbar .navbar__links {
    background: rgba(238, 238, 238, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}

.navbar a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar a span {
  font-weight: bold;
}

.navbar__line {
  background: rgba(255, 255, 255, 0.5);
  width: 60%;
  height: 2px;
  z-index: 1;
  position: relative;
  right: -50px;
}

.border {
  height: 4px;
  background: white;
  position: relative;
  top: 21px;
}

.mobile-nav-toggle {
  display: none;
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
  .navbar__links {
    padding: 25px 10% 21px 10%;
    font-size: 1.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  a {
    margin-right: 50px;
  }
  .logo {
    margin-left: 75px;
  }
  .border {
    width: calc(100% - 50px);
  }
}

/*TABLETTE*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  header {
    padding-top: 0;
  }
  .navbar__links {
    padding: 25px 0 21px 50px;
    font-size: 1.5rem;
  }
  a {
    margin-right: 15px;
  }
  .navbar__line, #sidebar {
    display: none;
  }
  .logo {
    margin-left: 75px;
  }
  .border {
    width: calc(100% - 15px);
  }
}

/*MOBILE*/
@media screen and (max-width: 768px) {
  header {
    padding-top: 40px;
  }
  .navbar__line {
    display: none;
  }
  .logo {
    margin-left: 30px;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    z-index: 9999;
    background: url("/media/icon-hamburger.svg") no-repeat;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("/media/icon-close.svg") no-repeat;
  }
  .navbar__links {
    position: fixed;
    inset: 0 0 0 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 2rem;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  .navbar__links a {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .navbar__links a:hover {
    background: rgba(238, 238, 238, 0.2);
    border-radius: 5px;
  }
  .navbar__links li {
    padding: 0.1rem 0;
  }
  .navbar__links .border {
    display: none;
  }
  .navbar__links[data-visible="true"] {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .active {
    border-bottom: 2px solid #eee;
  }
}

body {
  background: url(../media/home/background-home-desktop.jpg) no-repeat center/cover;
  overflow-x: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main span {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

main h1 {
  text-transform: uppercase;
  margin: 20px 0;
  font-family: forum;
  letter-spacing: 1.5rem;
  font-size: 8rem;
}

main p {
  margin: 0;
  font-size: 1.6rem;
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
  main {
    width: 71%;
    margin: auto;
    margin-top: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main span {
    font-size: 3rem;
  }
  main p {
    font-size: 1.7rem;
  }
  main .intro {
    width: 500px;
  }
  main a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background: #eee;
    aspect-ratio: 1;
    border-radius: 50%;
    font-family: forum;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #333;
    width: 200px;
    margin-right: 10%;
    text-decoration: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  main a:hover, main a:focus, main a:active {
    background: #333;
    color: #eee;
  }
}

/*TABLETTE*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  body {
    background: url(../media/home/background-home-tablet.jpg) no-repeat center/cover;
    overflow-x: hidden;
    height: 100%;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  main span {
    font-size: 2rem;
  }
  main p {
    width: 100%;
  }
  main .explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background: #eee;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-family: forum;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #333;
    margin-top: 150px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  main .explore :hover {
    background: #333;
    color: #eee;
  }
}

/*MOBILE*/
@media screen and (max-width: 768px) {
  body {
    background: url(../media/home/background-home-tablet.jpg) no-repeat center/cover;
  }
  header {
    padding-top: 40px;
  }
  .navbar__line {
    display: none;
  }
  .logo {
    margin-left: 30px;
  }
  main {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  main p, main span {
    font-size: 20px;
  }
  main p {
    width: 70%;
    margin: auto;
  }
  main h1 {
    font-size: 2rem;
  }
  main a {
    margin-top: 70px;
    background: #eee;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 50px;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
  }
  main a :hover {
    background: #333;
    color: #eee;
  }
}
/*# sourceMappingURL=style.css.map */