body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Barlow Condensed';
    font-size: 2rem;
}
header{
    padding-top: 40px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__links{
        display: flex;
        list-style-type: none;
        margin: 0;
        background: rgba($color: black, $alpha: 0.75);
    }
    @supports (backdrop-filter: blur(1rem)) {
        .navbar__links {
            background: rgba($color: #eee, $alpha: 0.1);
            backdrop-filter: blur(1rem);
        }
    }
    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        white-space: nowrap;

        span {
            font-weight: bold;
        }
    }
    &__line{
        background: rgba($color: white, $alpha: 0.5);
        width: 60%;
        height: 2px;
        z-index: 1;
        position: relative;
        right: -50px;
    }
}
.border{
    height: 4px;
    background: white;
    position: relative;
    top: 21px;
}

.mobile-nav-toggle {
    display: none;
}

/*DESKTOP*/
@media screen and (min-width:992px){
    .navbar__links{
        padding: 25px 10% 21px 10%;
        font-size: 1.6rem;
        justify-content: space-between;
    }
    a{
        margin-right: 50px;
    }
    .logo{
        margin-left: 75px;
    }
    .border{
        width: calc(100% - 50px);
    }
}

/*TABLETTE*/
@media screen and (max-width:992px) and (min-width: 768px){
    header{
        padding-top: 0;
    }
    .navbar__links{
        padding: 25px 0 21px 50px;
        font-size: 1.5rem;
    }
    a{
        margin-right: 15px;
    }
    .navbar__line, #sidebar{
        display: none;
    }
    .logo{
        margin-left: 75px;
    }
    .border{
        width: calc(100% - 15px);
    }
}

/*MOBILE*/
@media screen and (max-width:768px){
    header{
        padding-top: 40px;
    }
    .navbar__line{
        display: none;
    }
    .logo{
        margin-left: 30px;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        z-index: 9999;
        background: url("/media/icon-hamburger.svg") no-repeat;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("/media/icon-close.svg") no-repeat;
    }

    .navbar__links {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: 5rem 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;

        a{
            display: block;
            width: 100%;
            padding: 10px;
            &:hover {
                background: rgba($color: #eee, $alpha: 0.2);
                border-radius: 5px;
            } 
        }
        li {
            padding: 0.1rem 0;
        }

        .border {
            display: none;
        }
    }
    .navbar__links[data-visible="true"] {
        transform: translateX(0%);
    }
    .active {
        border-bottom: 2px solid #eee;
    }
}